In [1]:
import pandas as pd 
import numpy as np

## The Pandas Series Object

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [7]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data['b']

0.5

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [10]:
data.sort_index(inplace=True)

In [11]:
data

2    0.25
3    0.75
5    0.50
7    1.00
dtype: float64

In [12]:
data[5]

0.5

In [13]:
population_dict = {'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [14]:
population['California']

38332521

In [15]:
population['California':'Florida']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

## Constructing Series objects

In [16]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [17]:
pd.Series(5,index=[2,3,4,5])

2    5
3    5
4    5
5    5
dtype: int64

In [18]:
pd.Series({2:'a',1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

In [19]:
pd.Series({2:'a',1:'b',3:'c'}, index=[2,3])

2    a
3    c
dtype: object

## From a one-dimensional NumPy array.

In [20]:
pd.Series(np.arange(1,5),index=range(0,4))

0    1
1    2
2    3
3    4
dtype: int32

## The Pandas DataFrame Object

In [21]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
 'Florida': 170312, 'Illinois': 149995}

In [22]:
area=pd.Series(area_dict)

In [23]:
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [24]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

## From a dictionary of Series objects.

In [25]:
states=pd.DataFrame({'population':population,'area':area})

In [26]:
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [27]:
state=pd.DataFrame({'population':population,'area':area},columns=['population'])

In [28]:
state

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [29]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [30]:
states.columns

Index(['population', 'area'], dtype='object')

In [31]:
states.values

array([[38332521,   423967],
       [26448193,   695662],
       [19651127,   141297],
       [19552860,   170312],
       [12882135,   149995]], dtype=int64)

In [32]:
print(states['area'])
print(states['population'])

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [33]:
### for single series object

In [34]:
pd.DataFrame([population,area],columns=['population','area'])

   population  area
0         NaN   NaN
1         NaN   NaN

In [35]:
pd.DataFrame(population)

                   0
California  38332521
Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135

In [36]:
data=[{"a":i,'b':3*i} for i in range(1,4)]

In [37]:
pd.DataFrame(data)

   a  b
0  1  3
1  2  6
2  3  9

In [38]:
pd.DataFrame(data,index=['a','b','c'],columns=["a"])

   a
a  1
b  2
c  3

In [39]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

## From a one-dimensional NumPy array.

In [40]:
a=pd.DataFrame(np.arange(1,4),columns=['a'])
a.index.name="1ddf"
print(a)
type(a)

      a
1ddf
0     1
1     2
2     3

pandas.core.frame.DataFrame

## From a two-dimensional NumPy array.

In [41]:
pd.DataFrame(np.random.rand(3, 2),
 columns=['foo', 'bar'],
 index=['a', 'b', 'c'])

        foo       bar
a  0.109125  0.496510
b  0.266377  0.124741
c  0.498364  0.155048

## From a NumPy structured array.

In [42]:
A=np.zeros(3,dtype=[("A",'int64'),('B','float64')])
a=pd.DataFrame(A)
a

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## The Pandas Index Object

In [43]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [44]:
ind[1]

3

In [45]:
ind[2:4]

Int64Index([5, 7], dtype='int64')

In [46]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [47]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [48]:
ind[1] = 0

TypeError: Index does not support mutable operations

## Index as ordered set

In [49]:
indA = pd.Index([1, 3, 5, 7, 9])

indB = pd.Index([2, 3, 5, 7, 11])

In [50]:
indA|indB #union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [51]:
indA & indB # intersection

Int64Index([3, 5, 7], dtype='int64')

In [52]:
indA^indB # symmeteric Difference

Int64Index([1, 2, 9, 11], dtype='int64')

## Data Indexing and Selection

### Data Selection in Series

In [53]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [54]:
data["a"]

0.25

In [55]:
data[1] # if there any index will be 1 it give expicitly

0.5

In [56]:

"a" in data

True

In [57]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [58]:
data.keys

<bound method Series.keys of a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64>

In [59]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [60]:
data['a':'e']

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [61]:
data[1:4]

b    0.50
c    0.75
d    1.00
dtype: float64

In [62]:
data[(data>0.3) & (data<0.8)]

b    0.50
c    0.75
dtype: float64

In [63]:
data[["a",'d']]

a    0.25
d    1.00
dtype: float64

In [64]:
data.loc['a']

0.25

In [65]:
data.loc['a':'d']

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [66]:
data.loc[1:2] # loc work on index and give the value of alast index also

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [67]:
data.iloc[1:2]

b    0.5
dtype: float64

In [68]:
data.iloc[3]

1.0

###  DataFrame as a dictionary

In [69]:
area = pd.Series({'California': 423967, 'Texas': 695662,
 'New York': 141297, 'Florida': 170312,
 'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
 'New York': 19651127, 'Florida': 19552860,
 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})

data=data.sort_index()

In [70]:
data['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [71]:
data['California':]

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135
New York    141297  19651127
Texas       695662  26448193

In [72]:
data.loc['Texas']

area      695662
pop     26448193
Name: Texas, dtype: int64

In [73]:
data.loc['Texas','area']

695662

In [74]:
data.loc['Florida':]

            area       pop
Florida   170312  19552860
Illinois  149995  12882135
New York  141297  19651127
Texas     695662  26448193

In [75]:
data.loc['Florida':,'area']

Florida     170312
Illinois    149995
New York    141297
Texas       695662
Name: area, dtype: int64

In [76]:
data.loc['Florida','area':]

area      170312
pop     19552860
Name: Florida, dtype: int64

In [77]:
data.loc['Florida':,'area':]

            area       pop
Florida   170312  19552860
Illinois  149995  12882135
New York  141297  19651127
Texas     695662  26448193

In [78]:
data.iloc[1,1]

19552860

In [79]:
data.iloc[1:,1]

Florida     19552860
Illinois    12882135
New York    19651127
Texas       26448193
Name: pop, dtype: int64

In [80]:
data.iloc[1,:]

area      170312
pop     19552860
Name: Florida, dtype: int64

In [81]:
data.iloc[:2,:2]

              area       pop
California  423967  38332521
Florida     170312  19552860

In [82]:
data.loc[data.area > 170000]

              area       pop
California  423967  38332521
Florida     170312  19552860
Texas       695662  26448193

In [83]:
data.loc[['California','Florida','Texas'], ['pop']]

                 pop
California  38332521
Florida     19552860
Texas       26448193

In [84]:
index = [('California', 2000), ('California', 2010),
 ('New York', 2000), ('New York', 2010),
 ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
 18976457, 19378102,
 20851820, 25145561]
pop = pd.Series(populations, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [85]:
index=pd.MultiIndex.from_tuples(index)

In [86]:
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [87]:

pop=pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [88]:
pop[:, (2000,2010)]

KeyError: (2000, 2010)

In [92]:
pop[pop > 22000000]

California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64

In [89]:
pop.loc['California':'New York',2000]

California  2000    33871648
New York    2000    18976457
dtype: int64

In [90]:
pop.loc[:,2000]

California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [91]:
pop[['California', 'Texas']]

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

In [93]:
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
 names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
 names=['subject', 'type'])
# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37
# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      40.0  37.9  34.0  35.9  34.0  36.9
     2      26.0  36.7  37.0  36.7  42.0  38.3
2014 1      32.0  36.3  42.0  37.7  31.0  37.1
     2      40.0  36.3  35.0  36.8  39.0  36.1

## Concat and append

In [103]:
data1=pd.DataFrame({"A":['A0',"A1"],"B":['B0','B1'],'C':['C0',"C1"]})
data2=pd.DataFrame({"C":['C0',"C1"],"D":['D0','D1']})
data1

    A   B   C
0  A0  B0  C0
1  A1  B1  C1

In [104]:
data2

    C   D
0  C0  D0
1  C1  D1

In [105]:
print(data1); print(data2)
merge=pd.concat([data1, data2] ,axis=0,ignore_index=True)

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
    C   D
0  C0  D0
1  C1  D1

In [106]:
merge

     A    B   C    D
0   A0   B0  C0  NaN
1   A1   B1  C1  NaN
2  NaN  NaN  C0   D0
3  NaN  NaN  C1   D1

In [107]:
merge=pd.concat([data1, data2] ,axis=0,ignore_index=True,join='inner')

In [109]:
merge

    C
0  C0
1  C1
2  C0
3  C1

In [3]:
<h>hello</h>

SyntaxError: invalid syntax (<ipython-input-3-21ac6348b3db>, line 1)